* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("/front/fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/front/fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    /*min-height: 800px;*/
    font-family: Roboto, sans-serif;
}

.menu-burger {
    display: none;
}

.menu-button-burger{
    display: none;
}

.menu-burger a{
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/
.header {
    padding: 14px 0;
    background-color: black;
    border-bottom: 7px solid black;
    color: white;
    /*margin-bottom: 25px;*/
}

header .container {
    display: flex;
    flex-direction: row;
}

.header ul {
    display: flex;
}

.header li {
    list-style: none;
}

.header a {
    color: white;
    text-decoration: none;
}

.header-item:hover {
    border-bottom: solid white 1px;
}

header h2 {
    color: white;
    margin: 0 40px;
}

.menu li {
    margin: 6px 80px;
}


/*item-corsina*/
.shop-items{
    min-height: 560px;
    width: 60%;
}

.items-corsina-order{
    display: flex;
    width: 100%;
}


.item-corsina {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    border-radius: 25px;
    margin: 30px 50px;
}

.item-corsina-img {
    width: 200px;
    height: 270px;
    margin: 0 20px;
}

.item-corsina-img img {
    width: 200px;
    height: 270px;
    padding: 15px 0;
    border-radius: 32px;
    object-fit: cover;
}


.item-info {
    margin: 15px 0;
    width: 100%;
}

.item-info h2 {
    margin-left: -80px;
    text-align: center;
}

.info-item-and-button {
    display: flex;
}

.item-data {
    width: 60%;
    margin: 0 5%;
}

.item-data p {
    font-size: 20px;
}

.item-info-material {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.item-info-color {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.shop-item-color {
    display: flex;
    /*float: right;*/
    margin: -7px auto;
    width: 30px;
    height: 30px;
    /*border: 1px solid black;*/
    border-radius: 3px;
    background-color: white;
}


.item-info-quantity {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}


.quantity-item {
    display: flex;
}


.quantity-item input {
    padding: 7px 15px;
    width: 30px;
    font-size: 25px;
    text-align: center;
    border: none;
    outline: none;
    background-color: lightgrey;
}

.quantity-item button {
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}


.item-price {
    font-size: 22px;
}

.price {
    display: flex
}
.price label{
    padding: 0 10px;
}

.item-info-price{
    margin-top: 8px;
}
.item-button {
    margin-top: 15px;
    width: 30%;
}

.item-button div{
    display: flex;
    justify-content: center;
}

.item-button button{
    margin: 17px auto;
    padding: 30px 0;
    border-radius: 25px;
    width: 160px;
    background-color: black;
    color: white;
    justify-content: center;

}

/*.item-corsina-order{*/
/*    position: sticky;*/
/*    top:10px;*/
/*    right: 10%;*/
/*    width: 20%;*/
/*    height: 300px;*/
/*    background-color: lightgrey;*/
/*}*/

.items-all-corsina{
    /*margin-top: 30px;*/
    position: sticky;
    top:30px;
    margin-top: 30px;
    /*right: 10%;*/
    width: 25%;
    height: 300px;
    margin-left: 10%;
    /*margin: 0 auto;*/
    /*justify-content: center;*/
    background-color: lightgrey;
    border-radius: 25px;
}

.items-all-corsina h1{
    text-align: center;
    padding: 20px 0;
}

.items-all-corsina img{
    /*padding-top: 10px;*/
    width: 25px;
    height: 25px;
}

.items-all-corsina-info{
    display: flex;
    flex-direction: column;
}

.corsina-info{
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
}

.price{
    font-size: 25px;
}

.quantity-all-corsina{
    padding-right: 50px;
}

.corsina-button{
    display: flex;
    justify-content: center;
}

.corsina-button button{
    padding: 15px 0;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}



/*!*user-info*!*/

.user-info{
    display: none;
    /*background-color: lightgrey;*/
    background-color: white;
    border-radius: 25px;
    position: fixed;
    top: 200px;
    left:35%;
    width: 500px;
    height: 320px;
}

.user-info h2{
    text-align: center;
    margin: 20px 0px;
}

.user-info input{
    display: flex;
    margin: 30px auto;
    width: 350px;
    /*background-color: black;*/
    /*color: white;*/
    height: 25px;
    border-radius: 5px;
    outline: none;
    padding: 0px 20px;
}


.user-info input:nth-child(6){
    width: 200px;
    /*padding: 10px 0 10px 0;*/
    background-color: black;
    color: white;
    /*padding: 10px 0;*                                                                                                                                                                                                                                                                                                                                                 /
    height: 30px;*/
    justify-content: center;
}

.user-info button{
    position: absolute;
    background-color: white;
    border: none;
    /*float: right;*/
    top: 5px;
    right: 0px;
    margin: 10px 20px;
}
.user-info img{
    width: 20px;
    height: 20px;
}


/*!*footer*!*/
footer{
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    /*margin-bottom: -100px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    float: bottom;
    padding-top: 30px;
    /*position:  relative;*/
    /*bottom: 0;*/
    height: 100px;
    background-color: black;
}

footer h2{
    color:white;
}
footer p{
    color: white;
}


@media only screen and (max-width:1315px){
    .info-item-and-button{
        display: flex;
        flex-direction: column;
    }
    .item-data{
        width: 90%;
    }
    .item-button{
        display: flex;
        width: 92%;
        justify-content: space-between;
        margin-top: -15px;
        margin-left: 20px;
    }
    .corsina-info h2{
        font-size: 20px;
    }
    .price{
        font-size: 20px;
    }
    .item-button div{
        display: flex;
        justify-content: space-between;
    }
    .item-button button{
        width: 130px;
    }
    .item-info-material{
        padding: 15px 0;
    }
    .item-info-color{
        padding: 15px 0;
    }
    .item-button button{
        padding: 15px 0;
    }
}

@media only screen and (max-width: 1150px) {
    .corsina-info{
        display: flex;
        flex-direction: column;
    }

    .corsina-info{
        text-align: center;
    }

    .price{
        justify-content: center;
    }
    .quantity-all-corsina{
        padding: 0;
    }

    .corsina-info:nth-child(2){
        margin-top: -5px;
    }
}

@media only screen and (max-width:1050px) {
    .item-info h2{
        /*padding: 10px 0;*/
        /*margin-top: 30px;*/
        margin-left: -40px;
    }
    .item-info-material{
        margin-left: -40px;
        flex-direction: column;
        text-align: center;
    }
    .item-info-color{
        margin-left: -40px;
        flex-direction: column;
        text-align: center;
    }
    .item-info-price{
        margin-right: 45px;
    }

    .item-color{
        margin-top: 20px;
    }
    .item-corsina{
        height: 355px;
    }
    .item-info-quantity{
        justify-content: space-between;
    }
    /*.item-info-quantity{*/
    /*    margin-top: 20px;*/
    /*    margin-left: -217px;*/
    /*    width: 155%;*/
    /*}*/
    .item-button{
        margin-left: -200px;
    }

    .item-button div:nth-child(2){
        position: relative;
        left: 190px;
    }
}

@media only screen and (max-width: 950px) {
    .item-info h2{
        padding: 30px 0;
    }
    .item-info-quantity{
        margin-top: 20px;
        margin-left: -210px;
    }

    .item-corsina{
        height: 450px;
    }

    .item-info-quantity{
        display: flex;
        justify-content: normal;
    }

    .item-info-quantity .price{
        position: absolute;
        left:48%;
    }

    /*.corsina-info .price{*/
    /*    text-align: center;*/
    /*}*/

    .item-button div:nth-child(2){
        position: absolute;
        left: 46%;
        margin-right: 100px;
    }

}

@media only screen and (max-width:900px) {
    .header ul{
        display: none;
    }

    /*.menu button {*/
    /*    position: absolute;*/
    /*    top: 10px;*/
    /*    right: 15%;*/
    /*    !*margin: -4px 65%;*!*/
    /*}*/

    .menu-button-burger{
        display: block;
    }
    .menu-burger{
        color: white;
        display: none;
        position: absolute;
        top: 55px;
        width: 100%;
        height: 100%;
        background: black;
    }

    .menu-button-burger {
        display: flex;
        position: absolute;
        right: 10px;
        background-color: black;
        margin: 0 5%;
        border: 1px solid white;
        border-radius: 5px;
    }

    .menu-button-burger img {
        padding: 5px 5px 5px 5px;
        width: 19px;
        height: 19px;
    }

    .menu-burger li {
        list-style: none;
        /*margin-top: 18%;*/
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 5px 10px;
        width: 200px;
        margin: 30% auto;
        justify-content: space-around;
    }

    .menu-burger a {
        font-size: 25px;
    }
}

@media only screen and (max-width:700px){
    .menu-burger li{
        margin: 20% auto;
    }
}

@media only screen and (max-width: 830px) {
    .items-all-corsina{
        display: block;
        position: absolute;
        margin: 30px auto;
        right: 0;
        left: 0;
        width: 87.5%;
        top:50px;
        /*padding: 0 10\0px;*/
        /*margin-left: -569px;*/
        /*margin: 0 auto;*/
        height: 180px;
    }

    .items-all-corsina h1{
        padding: 5px 0;
    }

    .shop-items{
        margin: 0 auto;
        margin-top: 200px;
        width: 87.5%;
    }

    .item-corsina{
        margin: 20px 0;
        height: 300px;
    }

    .item-info h2{
        padding: 0;
    }
    .item-info-material{
        flex-direction: row;
        padding: 15px 30px;
    }
    .item-info-color{
        flex-direction: row;
        padding: 15px 30px;
    }

    .item-info-quantity{
        margin-top: -10px;
        margin-left: -15px;
        /*width: 300px;*/
        justify-content: space-between;
    }
    .item-info-quantity .price{
        position: static;
        /*margin-left: 100px;*/
        /*margin-left: 220px;*/
    }

    .item-button div:nth-child(2){
        position: static;
        /*margin-right: 100px;*/
    }

    .item-button{
        margin: -10px 0;
        /*margin: 0;*/
    }

    .shop-item-color{
        margin-top: -22px;
    }

    .item-button div:nth-child(2){
        /*position: absolute;*/
        /*left: 46%;*/
        margin-right: 0;
    }

    .corsina-info{
        flex-direction: row;
        margin: 15px 20px;
    }

    .corsina-button button{
        padding: 8px 0;
    }
    .quantity-all-corsina{
        margin-right: 10px;
    }
}

@media only screen and (max-width:715px){
    .item-corsina{
        height: 250px;
    }
    .item-corsina-img img{
        width: 130px;
        height: 200px;
        margin: 10px 0;
    }

    .item-info h2{
        margin-top: 15px;
        font-size: 18px;
    }

    .info-item-and-button p{
        font-size: 16px;
    }

    .item-info-material{
        padding: 8px 30px;
    }

    .quantity-item button{
        width: 30px;
        height: 30px;
    }
    .quantity-item input{
        font-size: 18px;
    }
    .item-info-quantity{
        padding: 10px 0;
    }

    .item-info-price label{
        font-size: 18px;
    }

    .item-button button{
        margin: 8px 0;
        padding: 8px 0;
    }
}

@media only screen and (max-width: 600px) {
    .item-corsina{
        height: 230px;
    }

    .item-corsina-img img{
        width: 100px;
        height: 140px;
        margin: 10px 0;
    }

    .item-info h2{
        margin-top: 15px;
        font-size: 15px;
    }

    .info-item-and-button p{
        font-size: 13px;
    }

    .item-info-material{
        padding: 8px 30px;
    }

    .quantity-item button{
        width: 30px;
        height: 30px;
    }
    .quantity-item input{
        font-size: 18px;
    }

    .item-info-price label{
        font-size: 14px;
    }
    .item-info-price{
        margin-top: 2px;
        margin-right: 20px;
        padding: 5px 10px;
    }

    .shop-item-color{
        width: 20px;
        height: 20px;
    }

    .item-info-quantity{
        padding: 10px 0;
    }


    .item-button button{
        margin: 8px 0;
        padding: 8px 0;
    }
    .item-button{
        /*margin-left: -120px;*/
        /*justify-content: center;*/
        /*margin: ;*/
        /*width: 135%;*/
        /*justify-content: space-around;*/
    }
    .item-button div{
        /*margin: 0 20%;*/
    }

    .item-button div:nth-child(1){
        /*margin-right: 10px;*/
        /*position: relative;*/
        /*right: 0;*/
        /*margin-left: 60%;*/
        /*margin-right: 50%;*/
        margin-left: -140px;
    }
}

@media only screen and (max-width:450px) {
    .item-info-material div:nth-child(1){
        margin-right: 25px;
    }
    .item-corsina{
        height: 240px;
    }
}
@media only screen and (max-width:410px)  {
    .item-corsina{
        display: flex;
        flex-direction: column;
        height: 450px;
    }
    .item-corsina-img{
        margin: 0 auto;
        width: 170px;
    }

    .item-corsina-img img{
        /*margin: 0 auto;*/
        width: 170px;
        height: 210px;
        margin: 10px 0;
    }

    .item-info{
        margin-top: -20px;
    }
    .item-info h2{
        margin: 0;
        font-size: 18px;
    }

    .item-data{
        width: 92%;
        margin: 0 10%;
    }
    .item-data p{
        font-size:15px;
    }

    .item-info-price label{
        font-size: 15px;
    }

    .item-button{
        width: 90%;
        margin: 0 auto;
    }

    .item-button button{
        margin: 0 auto;
        font-size: 10px;
        width: 100px;
    }

    .item-button div:nth-child(1){
        margin-left: 0;
    }
}

@media only screen and (max-width:340px) {
    .items-all-corsina label{
        font-size: 15px;
    }

    .corsina-info h2{
        font-size: 15px;
    }

    .corsina-info p:nth-child(1){
        font-size: 15px;
    }

    .corsina-info p{
        font-size: 13px;
    }
}